.header {
    position: fixed;
    width: 100%;
    padding: 50px 0;
    z-index: 5;
    transition: 150ms ease-in-out;
    &__logo {
        font-family: 'raleway', sans-serif;
        font-size: 36px;
        opacity: 0.8;
        font-weight: 600;
        a {
            text-decoration: none;
            color: #fff;
        }
    }

}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll {
    background: linear-gradient(9deg, rgba(48,105,125,0.95) 0%, rgba(65,105,125,0.95) 48%, rgba(108,106,123,0.95) 100%);
    padding: 5px 0;
}

.menu {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    top: 50%;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
    &__list {
    }

    &__link {
        text-align: center;
        margin: 15px;
        a {
            font-size: 28px;
            font-family: 'raleway', sans-serif;
            color: rgba(108,106,123, 1);
            text-decoration: none;
            position: relative;
            &::after {
                display: block;
                position: absolute;
                left: 0;
                height: 2px;
                width: 0;
                background-color: rgba(108,106,123, 1);
                content: "";
                transition: width 300ms ease-in;
            }
            &:hover::after, a:focus::after {
                width: 100%;
            }
        }
    }
    &__close-button {
        position: absolute;
        top: -40px;
        right: -15px;
        color: red;
        padding: 10px;
        font-size: 30px;
        font-family: 'Raleway';
        text-transform: uppercase;
        cursor: pointer;
    }
}
.menu-wrap {
    position: relative;
}

a:hover:after,
a:focus:after {
	width: 100%;
}
